{% load static %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="" class="logo d-flex align-items-center">
              <img src="{% static 'assets/img/logo.png' %}" alt="">
            </a>
            <p>지식재산(IP) 라이선스에 관심있는 국내외 모든 기업의 친절하고 편안한 파트너가 되겠습니다. 지식재산 간편 라이선스 거래소 WITZshop </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">인재채용</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">이용약관</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">개인정보처리방침</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">청소년 보호정책</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">고객센터</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">WITZ shop</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">WITZ mall</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
              <B>본사:</B> 대전 유성구 대덕대로 512번길 20,<br>
              대전정보문화산업진흥원 B동 2층 200-18호<br>
              <B>연구소:</B> 서울 서초구 사임당로46, 502호 <br>
              <strong>대표자:</strong> 박진익,김정민<br>
              <strong>제휴문의:</strong> +82 10 2238 2658<br>
              <strong>이메일:</strong> info@witz.ai<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>WITZ</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->
