{% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">어려운 라이선스 거래 WITZ에서 한방에 간편하게 해결하세요</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">창작자와 생산자, 디자이너와 유통사를 연결하는 라이선스 거래 플랫폼</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="./under-construction/" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>WITZ shop</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->